extends layout

block content
  h1= title
  div
    input(type='number' placeholder='Agrega un numero' name='numero1')
  div
    input(type='number' placeholder='Agrega un numero' name='numero2')
  div
    input(type='number' placeholder='Agrega un numero' name='numero3')    
  div
    input(type='number' placeholder='Agrega un numero' name='numero4')  
  div
     button(type='button' onclick='addNumber()') Agregar
  div
    p(id='tag1')
    p(id='tag2')
    p(id='tag3')
    p(id='tag4')
  







    
